<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Img:</strong>
  <%= @card.img %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @card.desc %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @card.cost %>
</p>

<p>
  <strong>Type:</strong>
  <%= @card.type %>
</p>

<%= @cardjson %>
<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
